body {
    width : 100%;
    height: 100vh;
    padding:0;
    margin:0;
}
#editor{
    height : auto;
}
#editor .ql-editor{
    height : auto;
}
#toolbar{
    /* display:none; */
    position : absolute;
    top : 200px;
}
#toolbar .ql-picker-options{
    /* bottom : 100%; */
    /* top : auto; */
}