body {
    width : 100%;
    /* height : 100vh; */
    padding:0;
    margin:0;
}
#toolbar{
    position : fixed;
    bottom : 0;
    width:100%;
}
#toolbar .ql-picker-options{
    bottom : 100%;
    top : auto;
}