<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="custom.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
    <script src="./jquery.js"></script>
    <script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>
    
</head>
<body>
    <div id="editor">
        <p>Hello World!</p>
        <p>Some initial <strong>bold</strong> text</p>
        <p><br></p>
    </div>
    <div id="toolbar">
        <!-- Add font size dropdown -->
        <select class="ql-size">
            <option value="small"></option>
            <!-- Note a missing, thus falsy value, is used to reset to default -->
            <option selected></option>
            <option value="large"></option>
            <option value="huge"></option>
        </select>
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
        <button class="ql-blockquote"></button>
        <button class="ql-list" value="bullet"></button>
        <button class="ql-list" value="ordered"></button>
        <select class="ql-color">
            <option selected="selected"></option>
            <option value="#333"></option>
            <option value="#999"></option>
            <option value="#ec4c6a"></option>
            <option value="#f6665b"></option>
            <option value="#f4c216"></option>
            <option value="#15b06c"></option>
            <option value="#00c4bd"></option>
            <option value="#2e84b6"></option>
            <option value="#5b5bb2"></option>
        </select>
        
        <select class="ql-align">
            <option selected></option>
            <option value="center"></option>
            <option value="right"></option>
            <option value="justify"></option>
        </select>
        <button class="ql-link"></button>
        <button class="ql-image"></button>
    </div>
    <script>
        function imageHandler () {
            let fileInput = this.container.querySelector('input.ql-image[type=file]');
            if (fileInput == null) {
                fileInput = document.createElement('input');
                fileInput.setAttribute('type', 'file');
                fileInput.setAttribute('accept', 'image/png, image/gif, image/jpeg, image/bmp, image/x-icon');
                fileInput.classList.add('ql-image');
                fileInput.addEventListener('change', () => {
                if (fileInput.files != null && fileInput.files[0] != null) {
                    var formData = new FormData();
                    formData.append("photo", fileInput.files[0]);
                    $.ajax({
                        method : 'post',
                        url : 'http://localhost:9001/api/upload/editorImg',
                        crossDomain: true,
                        data : formData,
                        processData: false,
                        contentType: false
                    })
                    .then(res => {
                        if(res.result == 'SUCCESS'){
                            const url = res.url;
                            alert(url)
                            let range = quill.getSelection(true);
                            quill.insertEmbed(range.index, 'image', url);
                        }else{
                            alert('Image upload error')
                        }
                    })
                    .catch(e => {
                        alert(JSON.stringify(e))
                    });
                }
                });
                this.container.appendChild(fileInput);
            }
            fileInput.click();
        }
        var quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: {
                    container : '#toolbar',
                    handlers: {
                        'image': imageHandler
                    }
                }
            }
        });
        quill.on('editor-change', function(eventName, ...args) {
            try{
                var value = quill.getFormat();
                var message = {type : 'format', value};
                window.postMessage(JSON.stringify(message));
            }catch(e){}
        });
        //보내기
        // quill.on('text-change', function(delta, oldDelta, source) {
        //     var height = document.getElementById('editor').offsetHeight;
        //     var message = {height};
        //     window.postMessage(JSON.stringify(message));
        // });
        //받기
        document.addEventListener("message", function(req) {
            var data = JSON.parse(req.data);
            switch(data.type){
                case 'size' : 
                    switch(data.value){
                        case 'small' : 
                            document.querySelectorAll('.ql-size .ql-picker-item')[0].click();
                            break;
                        case 'normal' : 
                            document.querySelectorAll('.ql-size .ql-picker-item')[1].click();
                            break;
                        case 'large' : 
                            document.querySelectorAll('.ql-size .ql-picker-item')[2].click();
                            break;
                        case 'huge' : 
                            document.querySelectorAll('.ql-size .ql-picker-item')[3].click();
                            break;
                    }
                    break;
                case 'bold' : 
                    document.querySelector('.ql-bold').click();
                    break;
                case 'italic' : 
                    document.querySelector('.ql-italic').click();
                    break;
                case 'underline' : 
                    document.querySelector('.ql-underline').click();
                    break;
                case 'strike' : 
                    document.querySelector('.ql-strike').click();
                    break;
                case 'blockquote' : 
                    document.querySelector('.ql-blockquote').click();
                    break;
                case 'bullet' : 
                    document.querySelector('.ql-list[value=bullet]').click();
                    break;
                case 'ordered' : 
                    document.querySelector('.ql-list[value=ordered]').click();
                    break;
                case 'color' : 

                    document.querySelector('.ql-picker-item[data-value="'+data.value+'"]').click();
                    break;
                case 'align' : 
                    switch(data.value){
                        case 'left' : 
                            document.querySelectorAll('.ql-align .ql-picker-item')[0].click();
                            break;
                        case 'center' : 
                            document.querySelectorAll('.ql-align .ql-picker-item')[1].click();
                            break;
                        case 'right' : 
                            document.querySelectorAll('.ql-align .ql-picker-item')[2].click();
                            break;
                        case 'justify' : 
                            document.querySelectorAll('.ql-align .ql-picker-item')[3].click();
                            break;
                    }
                    break;
                case 'link' : 
                    document.querySelector('.ql-link').click();
                    break;
                case 'image' : 
                    document.querySelector('.ql-image').click();
                    break;
            }
        });
        
    </script>
</body>